# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Environment variables
.env
.env.*
!.env.example

# Django
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Celery & Flower
flower*.db
flower*.db.db
*.db.db
celerybeat-schedule
celerybeat.pid
/tmp/celery_worker*.log
/tmp/celery_worker*.pid
/tmp/flower.log
/tmp/flower.pid

# IDE
.idea/
.vscode/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db 

#config md
CLAUDE.md
SEARCH_IMPLEMENTATION_ROADMAP.md


*.md

nextstep.txt